services:
  backend:
    build:
      context: ./backend
    container_name: bookstore-backend
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_BASE: "http://localhost:4000"
    container_name: bookstore-frontend
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:4000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
