apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: arnab23/bookstore-backend:latest
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: cozybooks-config
            - secretRef:
                name: cozybooks-secrets
